table{
	width: 666px;
	height: 192px;
	border-collapse: collapse;
	font-family: ;
}
thead tr{
	background:#215a8e;
	color:white;
	font-size:10px;
	height: 40px;
}
tbody tr:nth-child(even){
	background:#dddddd;
}
tbody tr{
	 text-align: center;
        font-size: 13px;
}